@page
@model OnlineSchool2.Pages.Users.ListModel

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">Нет пользователей</td>
            </tr>
        }
        else
        {
            foreach (IdentityUser user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td class="text-center">
                        <form asp-page="List" method="post">
                            <input type="hidden" name="Id" value="@user.Id" />
                            <a class="btn btn-sm btn-warning" asp-page="Editor" asp-route-id="@user.Id" asp-route-mode="edit">Редактировать</a>
                            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-page="Create">Создать</a>
