@model OnlineSchool2.Models.LessonsListViewModel

@{
    ViewData["Title"] = Model.Course?.Title;
    string bg = "";
    int counter = 0;
}

<section class="for_pattern">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-uppercase color2 pb-2">
                    @ViewData["Title"]
                </h1>
            </div>
            <div class="col-12 text-center container-fluid">
                <a asp-action="Create" asp-route-courseid="@Model.Course.Id" class="btn btn_itd text-uppercase text-center mx-2">Добавить урок</a>
                <a asp-controller="Courses" asp-action="Index" class="btn btn-sm btn_itd_outline text-uppercase text-center mx-2">К списку курсов</a>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model.Lessons)
{
    <section class="back@(counter % 2)">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <a asp-controller="Lessons" asp-action="Details" asp-route-id="@item.Id" class="btn">
                        <h2 class="text-center text-uppercase color@((counter % 2) + 1)">@(item.Number). @item.Title</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 class="color@((counter % 2) + 1)">@item.Description</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center container-fluid">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn_itd_outline text-uppercase text-center mx-3">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn_itd_outline text-uppercase text-center mx-3">Удалить</a>
                </div>
            </div>
        </div>
    </section>
    counter++;
}

<section class="for_pattern">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 text-center container-fluid">
                <a asp-action="Create" asp-route-courseid="@Model.Course.Id" class="btn btn_itd text-uppercase text-center mx-2">Добавить урок</a>
                <a asp-controller="Courses" asp-action="Index" class="btn btn-sm btn_itd_outline text-uppercase text-center mx-2">К списку курсов</a>
            </div>
        </div>
    </div>
</section>
